.menu {
    min-height: 100vh;
}
.logo {
    font-size: 40px;
    color: azure;
    position: relative;
    padding: 0 24px;
    overflow: hidden;
    background: #001529;
    cursor: pointer;
    transition: all .3s;
    
}
.logo a {
    color: azure;
}

.header {
    display: flex;
    padding: 10px;
    justify-content: space-between; 
}

.global {
    display: flex;
    align-items: center;
    margin-right: 10px;
}